# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
Podfile.lock
*.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# Firebase
GoogleService-Info.plist

# OS files
.DS_Store
*.swp
*~
